# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables


# Metadata
*.aliases
*.lvlps
.cache/
.vs/

# Build output
/resource/plugins/lv_icon.lvlibp

Tooling/deployment/NIPackage/log-IconEditorDeployment_x64.txt
Tooling/deployment/NIPackage/log-IconEditorDeployment_x32.txt
Tooling/deployment/NIPackage/ProcessingStage/ProgramFiles_64/NI/LVAddons/niiconeditor64/1/lvaddoninfo.json
